<section id="project-list">
    <div class="list-group">
        <a *ngFor="let project of projects" routerLink="/{{project.key}}"
            class="list-group-item list-group-item-action">

            <div class="d-flex w-100 justify-content-between">
                <div class="fw-bold text-dark">{{project.key}}</div>
                <small class="text-black-50">{{project.lastEdit | date:'shortDate'}}</small>
            </div>

            <!-- 
          TODO: Delete project
        -->
        </a>
    </div>

    <div class="new">
        <new-project-circular></new-project-circular>
    </div>
</section>