.wrapper{
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    .title{
        margin-bottom: 1rem;
    }

    .description{
        .strong{
           margin-bottom: 0;
        }
    }
}