// colors
$color-dark: #343a40;
$secondary-color: #bdbbbb;
$activity-todo: #80e0db;
$activity-progress: #ffc107;
$activity-completed: #28a745;
$activity-refused: #dc3545;
$gradient-primary: linear-gradient(
    130deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%
);